<app-header>
	<main>
		<input type='checkbox' id='form-switch'>
		<form id='login-form' action="" method='post'>
			<input type="text" name="username" placeholder="Username/Email" required [(ngModel)]="username">
			<input type="password" name="password" placeholder="Password" required [(ngModel)]="password">
			<p>   </p>
			<button (click)="loginUser()" class="waves-effect waves-light btn" align="center">Login</button>

		</form>
	</main>
	<ng-content></ng-content>
</app-header>
<app-footer>
</app-footer>
