<app-header>
<section class="container">
    <h6 class="center-align">
     {{"Stuff to be done ASAP!!!" }}  
    </h6>
    <input type=text name="name"  placeholder="bucketlist"
           [(ngModel)]="name">
    <button *ngIf="!edit" (click)="addBucketlist()" class="waves-effect waves-light btn">Add</button>
    <button *ngIf="edit" (click)="saveBucketlist()" class="waves-effect waves-light btn">Save</button>
    <ul *ngIf="bucketlists">
        <li *ngFor="let bucketlist of bucketlists" class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span (dblclick)="editBucketlist(bucketlist)">{{bucketlist.name}}</span>
                        <div class="card-action">
                            <a (click)="deleteBucketlist(bucketlist.id)" class="waves-effect waves-light btn">Delete</a>
                            <a (click)="editBucketlist(bucketlist)" class="waves-effect waves-light btn">Edit</a>
                            <a (click)="viewBucketlistItems(bucketlist.id)" class="waves-effect waves-light btn" routerLink="items">Items</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<ng-content></ng-content>
</app-header>
<app-footer>
</app-footer>