<app-header>
	<h2 class="center-align">Register Here</h2>

	<form data->

		<div class="container">
			<div *ngIf="registerResp" id="errorMessages"><ul><li>{{ registerResp }}</li></ul></div>
			<label for="email"><b>Email</b></label>
			<input type="text" placeholder="Enter Email" name="email"  [(ngModel)]="email" required>
			<label for="username"><b>Username</b></label>
			<input type="text" placeholder="Enter Username" name="username"  [(ngModel)]="username" required>

			<label for="password"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password" required>

			<button type="submit" (click)="registerUser()">Register</button>

		</div>

	</form>
	<ng-content></ng-content>
</app-header>
<app-footer>
</app-footer>
